body{
    margin:25px;
    padding:35px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.nav{
background-color: #F9E79F;
color:#935116;
list-style:none;
text-align: center;
border: indianred dotted;
padding: 25px 0 25px 0;
}

.nav> li {
display:inline-block;
padding-right: 50px;
}

.nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

nav>ul li{
    width: 150px;
    position:relative;
    text-align: center;
    font-weight: bold;
    color:indianred
}

nav ul li{margin-bottom: 5px;}
nav a{
text-decoration: none;
display: block;
border: 5px dotted indianred;
padding: 20px 20px 20px 20px
}

nav a:link{
background-color:#F9E79F;
}
nav a:hover, nav a:focus {
background-color: #F9E79F;
}
nav a:active{background-color: #F9E79F;}

nav ul li ul{
    position:absolute;
    margin: top 0;;
    margin-left: 100%;
    display: block;
    background-color: #F9E79F;

}
nav>ul>li:hover>ul{ display:block;
}

nav ul{ display: flex;
align-items:center;
}

nav li{
    flex: 1 1 0;
}