body{ background-color: #fbf4db;min-width: 540px}

header{display:inline;
vertical-align: center;}

h1{color:hsl(203, 23%, 65%);text-align: center;background-color: #f9e79f;
    border: 3px dotted indianred;border-radius: 90px;
    font-size: xx-large;letter-spacing: 3px;}
h2{color:indianred}

p{color:indianred;border: 3px dotted indianred;text-align: center;
    padding: 80px;border-radius: 50%;background-color: #f8e9aee2;}

blockquote{color:indianred;}
 
.navbar{padding-left: 30px;}

p{text-indent: 0px;}

div header h1{font-size: xx-large;font-weight: 9;letter-spacing: 15px;line-height:normal;
    min-width: 60px;align-items: center;align-content: center;}

h2{text-align: center;font-style: italic;font-weight: 1;letter-spacing: 3px;}


div header{text-align:center; position:relative;height: 90px;display:grid; ;
}

.wrapper{min-width: 100%;}

main div{padding: 15px;}

div p {word-spacing: 1px;letter-spacing: 1px;padding:105px}

main {padding: 15px 15px 15px 15px}

form label {text-align: center;block-size: 8px;
padding-top: 50px;align-content: center;margin-bottom: 35px;}

main a{color: indianred;align-items: center;align-content: center;text-align: center;
    border: 3px dotted indianred;padding:30px 50px;
border-radius: 90px;background-color: hsla(48, 82%, 89%, 0.78);letter-spacing: 2px;}

blockquote{margin:35px;padding:35px;text-align: center;border-radius: 100%;
    border:3px dashed indianred;background-color: #a4bfc760;}







footer p{display: flex;justify-content: center;color:indianred;;border: indianred 3px dotted ;border-radius: 90px;;
    position: relative;;font-size: large;letter-spacing: 3px;background-color: #f9e79f;
    padding:15px;margin: 15px;align-content: center;align-items: center;flex-wrap: wrap;left:20px}



.pic {        /*footer icons*/
    width: 25px;
    height: 25px;
}

.picbig {                                  
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s; 
    z-index: 10;
}

.pic:hover + .picbig {
    width: 30px;
}

    .picture{border:3px dotted rgba(161, 57, 57, 0.552);}

    main form{text-align:center;padding:40px;border:3px dashed indianred}

.name img{position: absolute;margin-left: 30px;left:-0px}

.contact{position: relative;margin:10px;color: indianred;padding:5px}

.name{font-size: large;padding-right:25px ;text-align: center;position: relative;color: indianred;}





.about{color:indianred;border: 3px dotted indianred;text-align: center;
    padding: 10px;margin:10px;;background-color: #f9e79fb4;}

 


    @media screen and (min-width: 760px) {
        img {
            max-width: 100%;
            
            text-align: left;
        }
        .grid {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 20% 80%;
        grid-template-rows:auto;
        grid-template-areas: 
            "video video"
            "picture about"
            "CV CV" ;
       
        }
    
      .video .CV {
          grid-column-start: 1;
          grid-column-end: 3;
      }
    .video {
        grid-area: video;
        padding-top: 20px;
        padding: left 200px;
    justify-self:center;
        
        
      }
    
    .picture {
        grid-area: picture;
        padding-top: 20px;
        padding-left: 10px;
        align-self: flex-start;
        position: relative;
        }
    .about {
            grid-area: about;
           justify-self:left;
           padding-left: 10px;
            }
     .CV {
        grid-area: CV;
        justify-self:center;
                }}
   
    /* Grid layout in mobile view*/
    @media screen and (max-width: 759px) {
        .grid {
            display: grid;
            grid-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "video"
                "picture"
                "about"
                "CV";
               }
    
        .video {
            grid-area: video;
            align-self: center;
            width: 100%;
            padding-left: 25px;
          }
          img {
            width: 100%;
          }
        .picture{

           justify-self: center;
            grid-area: picture;
            padding-left: 15px;
            }

     .about {
        grid-area: about;
        padding-left: 10px;
                   }

  .CV {
    grid-area: CV;
      justify-self: center;
    }
    }
    
    